<div id="Catalogo">
    <div class="accordion" id="accordionExample">
        <div class="accordion-father">
            <h5 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="left: auto;">
                 BABY BEETT 
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample"></div>
        <div class="accordion-body">
            <table style="width: 100%">
                <tr>
                    <td B-B style="width: 15%;">
                        <img src="../../../assets/Baby Beett.jpg" alt="Salchicha con 5 semillas" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                    </td>
                </tr>
            </table>
        </div>

        <div class="accordion-mother">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ALBONDIGAS
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table>
                        <tr>
                            <td>
                                <img src="../../../assets/Albondigas.jpg" alt="Albondigas" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-mother">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            CHORIZO
          </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table>
                        <tr>
                            <td>
                                <img src="../../../assets/Chorizo Antioqueño.jpg" alt="Chorizo Antioqueño" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <img src="../../../assets/Chorizo con Quinua.jpg" alt="Chorizo con Quinua" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <img src="../../../assets/Chorizo.jpg" alt="Chorizo" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pagination></app-pagination>