<H2>PRODUCTS</H2>
<div id="Catalogo">
    <div class="accordion" id="accordionExample">
        <div class="accordion-father">
            <h5 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="left: auto;">
                    SALCHICHAS
                </button>
            </h5>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table style="width: 100%">
                        <tr>
                            <td S5-semillas style="width: 15%;">
                                <img src="../../../assets/Salchica con 5 semillas.jpg" alt="Salchicha con 5 semillas" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Salchicha con 5 semillas</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%">
                        <tr>
                            <td S-Q style="width: 15%;">
                                <img src="../../../assets/Salchicha con Quinua.jpg" alt="Salchicha con Quinua" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Salchicha con Quinua</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%">
                        <tr>
                            <td S-S style="width: 15%;">
                                <img src="../../../assets/Salchicha de soya.jpg" alt="Salchicha de soya" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Salchicha de soya</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%">
                        <tr>
                            <td S-P style="width: 15%;">
                                <img src="../../../assets/Salchicha Perro.jpg" alt="Salchicha Perro" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Salchicha para perro</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%">
                        <tr>
                            <td S style="width: 15%;">
                                <img src="../../../assets/Salchicha.jpg" alt="Salchicha" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Salchicha</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%">
                        <tr>
                            <td S-L style="width: 15%;">
                                <img src="../../../assets/Salchichon de lonjas.jpg" alt="Salchichon de lonjas" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Salchichon de lonjas</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%">
                        <tr>
                            <td Salchichon style="width: 15%;">
                                <img src="../../../assets/Salchichon.jpg" alt="Salchichon" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Salchichon</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-father">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            MORTADELA
          </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table style="width: 100%;">
                        <tr>
                            <td Morta style="width: 15%;">
                                <img src="../../../assets/Mortadela.jpg" alt="Mortadela" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                            </td>
                            <td style="padding-left: 10px; width: 85%;">
                                <div>
                                    <label style="margin-bottom: 0px im !important;">
                                    <b>Mortadela</b>
                                </label>
                                    <p class="description text-justify" style="margin-right: 3px;">
                                        Descripcion del producto</p>
                                </div>
                                <div style="display: flex;">
                                    <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-father">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            QUESO
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table style="width: 100%">
                    <tr>
                        <td Q-T-C style="width: 15%;">
                            <img src="../../../assets/Queso Tofu Cheddar.jpg" alt="Queso Tofu Cheddar" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                        </td>
                        <td style="padding-left: 10px; width: 85%;">
                            <div>
                                <label style="margin-bottom: 0px im !important;">
                                    <b>Queso Tofu Cheddar</b>
                                </label>
                                <p class="description text-justify" style="margin-right: 3px;">
                                    Descripcion del producto</p>
                            </div>
                            <div style="display: flex;">
                                <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td T-F style="width: 15%;">
                            <img src="../../../assets/Tofu Tajado.jpg" alt="Tofu Tajado" style="height:  110px; width: 100px; margin-left: 3px; border-radius: 10px;">
                        </td>
                        <td style="padding-left: 10px; width: 85%;">
                            <div>
                                <label style="margin-bottom: 0px im !important;">
                                    <b>Queso Tofu Tajado</b>
                                </label>
                                <p class="description text-justify" style="margin-right: 3px;">
                                    Descripcion del producto</p>
                            </div>
                            <div style="display: flex;">
                                <p class="price" style="width: 35%; color: rgb(255,156,51); font-weight: 700;">Precio del producto</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <app-pagination></app-pagination>